{% extends "base.html" %} {% block title %}Projects | My Portfolio{% endblock %}
{% block content %}

<section class="content-section">
  <h1>Projects</h1>

  <div class="project-card">
    <h2>Module 1 Assignment: Personal Website</h2>

    <p>
      I created this website using Flask, a framework that allows the user to
      build web apps with Python. The site is structured using a combination of
      static and dynamic HTML objects bound together with a blueprint routing
      script. The HTML scripts are formatted utilizing a custom styling CSS, and
      all functions/major elements are commented for clarity.
    </p>

    <a
      class="github-button"
      href="https://github.com/cjstarvaggi/jhu_software_concepts/tree/main/module_1"
      target="_blank"
      rel="noopener noreferrer"
    >
      View Project on GitHub
    </a>
  </div>
</section>

{% endblock %}
