POSTGRES_HOST={host_name}
POSTGRES_PORT={PostgreSQL_port_number}
POSTGRES_DB={database_name}
POSTGRES_USER={PostgreSQL_username}
POSTGRES_PASSWORD={PostgreSQL_password}
DATABASE_URL=postgresql://{PostgreSQL_username}:{PostgreSQL_password}@{host_name}:{PostgreSQL_port_number}/{database_name}

DATA_FILE=src/llm_extend_applicant_data.json
